<html>
    <head>
        <title>Senha Incorreta</title>
        <script>
            confirm("Senha incorreta")
            window.location.replace("/room/<%= roomId %>") //redirecionando a página
        </script>
    </head>
</html>