<section>
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST">
        <label class="sr-only" for="room-pass">Insira uma senha</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira uma senha">
        <button>
            <img src="/images/users-white.svg" alt="Entrar na Sala">
            Criar Sala
        </button>
    </form>
</section>

<div class="separator">
    <div></div>
    <div>ou</div>
    <div></div>
</div>

<section>
    <h2>Faça login e gerencie suas salas</h2>
    <a href="/login" class="button outlined">
        <img src="/images/users.svg" alt="Fazer Login"> Fazer Login
    </a>
</section>