<section>
    <h2>Seja bem-vindo</h2>
    <form action="/login" method="GET">
        <label class= "sr-only" for="email-login">Insira seu email</label>
        <input type="email" name="email" id="email-login" placeholder="Insira seu email">
   
        <label class="sr-only" for="password-login">Insira sua senha</label>
        <input type="password" name="password" id="password-login" placeholder="Insira sua senha">
        <button>
            <img src="/images/users-white.svg" alt="Login">
            Login
        </button>
    </form>
</section>